body {
  margin: 0 auto;
  width: 800px;
  background: #222;
}
a {
  text-decoration: none;
}
.container {
  background: white;
  padding: 20px;
}
#logo {
  float: left;
  color: #aaa;
}
#menu {
  float: right;
  margin: 28px 0;
}
#menu li {
  display: inline-block;
}
#menu li a {
  font-size: 20px;
 color: white;
 margin-left: 10px;
 padding: 10px 20px;
 background-color: lightsteelblue;
 border-radius: 10px 10px 0px 0px;
}
#banner img {
  width: 100%;
}
.article {
  margin-bottom: 30px;
  box-shadow: 0px 0px 5px 5px #aaa;
  padding: 5px;
}
.article img {
  display: inline-block;
  width: 300px;
}
.article .intro {
  display: inline-block;
  width: 400px;
  padding: 0 20px;
  vertical-align: top;
}
.article .intro h2 {
	margin-top: 0;
  text-shadow: 2px 2px 2px #ddd;
}
footer {
  background: #111;
  color: #aaa;
  padding: 20px;
  text-align: center;
}

@keyframes animasiJudul
{
   0% {
        transform:translateY(0px);
    }
   50% {
        transform:translateY(10px);
    }
    100% {
        transform:translateY(0px);
    }
}

#logo h1 {
   position:absolute;
   animation-name: animasiJudul;
   animation-duration: 1s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in;
}
